<a href="https://colab.research.google.com/github/norascs/DLC/blob/main/colab.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
import numpy as np
import itertools as it
import pandas as pd

In [ ]:
swow_data = pd.read_csv("/content/SWOW-EN.R100.csv")

In [ ]:
print(swow_data)

       Unnamed: 0      id  participantID   age gender nativeLanguage  \
0               1      29            3.0  33.0     Fe  United States
1               2      30            3.0  33.0     Fe  United States
2               3      31            3.0  33.0     Fe  United States
3               4      32            3.0  33.0     Fe  United States
4               5      33            3.0  33.0     Fe  United States
...           ...     ...            ...   ...    ...            ...
92973       92974  113165         9638.0  45.0     Fe  United States
92974       92975  113187         9638.0  45.0     Fe  United States
92975       92976  113202         9638.0  45.0     Fe  United States
92976       92977  113215         9638.0  45.0     Fe  United States
92977       92978   11322            NaN   NaN    NaN            NaN

             country  education           created_at       cue            R1  \
0          Australia        NaN  2011-08-12 02:19:38  although  nevertheless
1          Australia        NaN  2011-08-12 02:19:38      deal            no
2          Australia        NaN  2011-08-12 02:19:38     music         notes
3          Australia        NaN  2011-08-12 02:19:38    inform          tell
4          Australia        NaN  2011-08-12 02:19:38       way          path
...              ...        ...                  ...       ...           ...
92973  United States        NaN  2011-12-12 14:47:11    travel          wish
92974  United States        NaN  2011-12-12 14:47:11      lose         heart
92975  United States        NaN  2011-12-12 14:47:11      game            on
92976  United States        NaN  2011-12-12 14:47:11    reduce       recycle
92977            NaN        NaN                  NaN       NaN           NaN

                R2            R3
0              yet           but
1            cards         shake
2             band        rhythm
3           rat on           NaN
4              via        method
...            ...           ...
92973     overseas       camping
92974         keys  parking spot
92975       soccer         match
92976  environment        weight
92977          NaN           NaN

[92978 rows x 13 columns]

In [ ]:
cues_and_responses = swow_data[["cue","R1","R2","R3"]]

In [ ]:
swow_words = cues_and_responses.values.ravel()

In [ ]:
swow_words = pd.unique(swow_words)

In [ ]:
castro_data = pd.read_csv("/content/castronorms.csv")

In [ ]:
print(castro_data)

         Cue  Response  All.data_Total All.data_First  All.data_Rank  \
0     A bird  Blue jay            0.57           0.08           3.82
1     A bird     Robin            0.50           0.23           2.59
2     A bird     Eagle            0.45           0.09           4.08
3     A bird  Cardinal            0.42           0.08           3.69
4     A bird   Sparrow            0.39           0.05           4.06
...      ...       ...             ...            ...            ...
2158     NaN       NaN             NaN            NaN            NaN
2159     NaN       NaN             NaN            NaN            NaN
2160     NaN       NaN             NaN            NaN            NaN
2161     NaN       NaN             NaN            NaN            NaN
2162     NaN       NaN             NaN            NaN            NaN

     All.data_Rank.SD  YA_Total  YA_First  YA_Rank YA_Rank.SD  MA_Total  \
0                2.37      0.60      0.10     3.96       2.45      0.62
1                2.11      0.37      0.10     3.32       2.41      0.53
2                 2.5      0.43      0.11     3.91       2.57      0.46
3                2.49      0.42      0.08     4.05       2.46      0.38
4                2.43      0.33      0.06     3.88       2.37      0.46
...               ...       ...       ...      ...        ...       ...
2158              NaN       NaN       NaN      NaN        NaN       NaN
2159              NaN       NaN       NaN      NaN        NaN       NaN
2160              NaN       NaN       NaN      NaN        NaN       NaN
2161              NaN       NaN       NaN      NaN        NaN       NaN
2162              NaN       NaN       NaN      NaN        NaN       NaN

      MA_First  MA_Rank MA_Rank.SD  OA_Total  OA_First  OA_Rank OA_Rank.SD
0         0.09     3.73       2.55      0.51      0.05     3.76       2.09
1         0.24     2.71       2.24      0.60      0.35     2.04       1.63
2         0.06     4.00       2.23      0.48      0.11     4.30       2.71
3         0.05     4.30       2.77      0.46      0.12     2.89       2.12
4         0.03     4.72       2.56      0.40      0.07     3.50       2.23
...        ...      ...        ...       ...       ...      ...        ...
2158       NaN      NaN        NaN       NaN       NaN      NaN        NaN
2159       NaN      NaN        NaN       NaN       NaN      NaN        NaN
2160       NaN      NaN        NaN       NaN       NaN      NaN        NaN
2161       NaN      NaN        NaN       NaN       NaN      NaN        NaN
2162       NaN      NaN        NaN       NaN       NaN      NaN        NaN

[2163 rows x 18 columns]

In [ ]:
cues_and_responses = castro_data[["Cue","Response"]]

In [ ]:
castro_words = cues_and_responses.values.ravel()

In [ ]:
castro_words = pd.unique(castro_words)

In [ ]:
full_set = np.concatenate((swow_words, castro_words)) 
full_df = pd.DataFrame({"stimuli":full_set})

In [ ]:
histwords_set = np.concatenate((swow_words, castro_words))

In [ ]:
histwords_df = pd.DataFrame({"stimuli":histwords_set})

In [ ]:
histwords_vocab = pd.read_csv("/content/histwords_vocab.csv")

In [ ]:
hw_words = histwords_vocab["word"].values

In [ ]:
full_df = full_df[full_df.isin(hw_words)]

In [ ]:
full_df.to_csv("stimuli_to_check.csv", index = False)

In [ ]:
!ls

castronorms.csv      sample_data	   SWOW-EN.R100.csv
histwords_vocab.csv  stimuli_to_check.csv